<ion-header>
  <ion-toolbar>
    <div class="header">

      <div class="logo-container">
        <img src="assets/ledger.svg" alt="">
      </div>
      <div class="navegador">
      <ul>
        <li [ngClass]="{'li-active':comp==='home'}">1</li>
        <li [ngClass]="{'li-active':comp==='segunda'}">2</li>
        <li [ngClass]="{'li-active':comp==='tercera'}">3</li>
        <li [ngClass]="{'li-active':comp==='cuarta'}">4</li>
      </ul>
    </div>
  </div>
  </ion-toolbar>
</ion-header>
