
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navegador{
    justify-content: center;
    align-self: center;
    ul{
        display: flex;
        flex-direction: row;
        column-gap: 0.3em;
        padding-right: 2em;
        li{
            border-radius: 25px;
            padding: 0 0.3em;
            border: 1px solid var(--ion-color-dark);
            list-style: none;
            font-size: small;
        }
    }
}
.li-active{
    background-color: rgb(46, 201, 66);
}
.logo-container{
    width: 30vw;
    img{
        padding: 0.9em;
    }
}