*{
    margin: 0;
    padding: 0;
}

ion-item{
    margin: 0.3rem 0.5rem;
    height: 3rem;
}

.body{
    padding: 1em;
    margin: 0 auto;
}
.radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    margin: 1rem 0;
}
.radio-container{
    margin: 0 0.3rem;
    margin-top: 1.5rem;
}

.imagen{
    width: 40%;
    margin-left: 20px;
}

section{
    margin-bottom: 1.7rem;
}

.info{
    display: flex;
    color: black;
    justify-content: center;
    padding: 0.5rem;
    background-color:#e6e6e6;
}