<app-header></app-header>

<ion-content>
    <app-total></app-total>
    <div class="body">

        <section class="metodo-pago">

            <h5>Metodo de Pago</h5>
            <div class="radio-container">
                <ion-radio-group [(ngModel)]='pago'>

                    <div class="cradito-radio radio">

                        <ion-radio value="credito"></ion-radio>
                        <p>Tarjeta de credito</p>
                        <img class="imagen" style="width: 30%;" src="assets/tarjetac.png" />

                    </div>
                    <ion-grid>

                        <ion-row>
                            <ion-col size="12">
                                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                    <ion-input type="number" placeholder="Card Number"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                    <ion-input type="text" placeholder="Card Holder Name"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>


                        <ion-row>
                            <ion-col size="6">
                                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                    <ion-input type="text" placeholder="Exp. Month"></ion-input>
                                </ion-item>

                            </ion-col>
                            <ion-col size="6">
                                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                    <ion-input type="text" placeholder="Exp. Year"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col size="12">
                                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                    <ion-input type="text" placeholder="CVV"></ion-input>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                    </ion-grid>

                    <div>
                        <ion-radio value="paypal"></ion-radio>
                        <img class="imagen" src="assets/paypal.png" />
                    </div>

                </ion-radio-group>
            </div>

        </section>

        <section>

            <h5>Código promocional</h5>

            <div class="codigo" style="margin-top: 1rem;">

                <ion-item  lines="none" style="border: 1px solid grey; border-radius: 3px;">
                    <ion-input type="text" placeholder="Introduce codigo"></ion-input>

                    <ion-button color="medium" >
                        Aplicar
                    </ion-button>
                    
                </ion-item>

            </div>
            
        </section>

        <section>

            <h5>Dirección de facturación</h5>

            <div class="radio-container">

                <ion-radio-group>

                    <div class="radio">
                        <ion-radio value="mismadireccion"></ion-radio>
                        <p>Igual que la direccion de envio</p>
                    </div>

                    <div class="radio">
                        <ion-radio value="diferentedireccion"></ion-radio>
                        <p>Usa una dirección diferente</p>
                    </div>

                </ion-radio-group>

            </div>

        </section>

        <div class="check radio">
            <ion-checkbox></ion-checkbox>
            <p style="width: 80%;">I agree with the Sales Terms and Conditions and with the Website Terms of Use.</p>
        </div>

        <p class="info">
            El método de pago que seleccionó puede requerir una verificación adicional. Es posible que se lo redireccione a un sitio de un tercero para completar la verificación.
        </p>

        <ion-row>

            <ion-col size="6">
                <ion-button (click)="volver()" color="tertiary"  expand='full'>
                    Volver
                </ion-button>
            </ion-col>

            <ion-col size="6">
                <ion-button (click)="siguiente()" color="success"  expand='full'>
                   Pagar
                </ion-button>
            </ion-col>


        </ion-row>
        

    </div>



</ion-content>