*{
    margin-bottom: 0;
    padding-bottom: 0;

}
.body{
    padding: 10px;
    margin: 0 auto;
}
.nombre{
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    font-weight: bold;
    margin-top: 0.5rem;
}
.text{
    font-size: small;
}
.direccion{
    padding: 0 0.3rem;
}

article{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;
    padding: 0 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
.envio{
    display: flex;
    flex-direction: column;
    font-size: small;
}

.met-envio{
    margin-top: 3rem;
}