<app-header></app-header>

<ion-content>

    <app-total></app-total>
    <div class="body">

        <h5>Direccion de envio</h5>
        <div class="direccion">

            <div class="nombre">
                <p>{{nombre}}</p>
                <p> {{apellido}}</p>
            </div>

            <p class="text">{{direccion}}</p>
            <p class="text">{{telefono}}</p>
            <p class="btn" style="color: #60cdb4;">Editar</p>

        </div>

        <section>

            <h5>Método de envío</h5>
            
            <div>
                <ion-radio-group [(ngModel)]='gratis'>

                    <article>
                        <ion-radio value="gratis"></ion-radio>
                        <div class="envio" style="width: 90%;">
                            <p>Tracked Shipping with DHL Economy (2-5 Business Days)</p>
                            <p class="ship-time" style="color: orange;">Orders include a Nano X will be shipped in two weeks</p>
                            <p class="ship-price-free ship-price" style="color: #60cdb4;">FREE SHIPING</p>
                        </div>
                    </article>

                    <article>
                        <ion-radio value="pago"></ion-radio>
                        <div style="width: 90%;">
                            <p>Express Shipping with DHL Express (1-2 Business Days)</p>
                            <p style="color: orange;">Orders include a Nano X will be shipped in two weeks.</p>
                            <p>10,00€</p>
                        </div>
                    </article>

                </ion-radio-group>
            </div>
        </section>

        <ion-button (click)="next()" expand="full" color="success" style="margin-top: 4rem;">
            Continuar
        </ion-button>

        <ion-button (click)="back()" expand="full" color="tertiary">
            Back to shipping information
        </ion-button>

    </div>

</ion-content>