section{
    display: flex;
    direction: row;
    justify-content: space-between;
    padding: 0 1em;
    background-color: #f2f2f2;
    color: black;
    font-weight: bolder;
}
.text{
    display: flex;
    flex-direction: row;
    align-items: center;

}