.body{
    padding: 10px;
}

.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    margin-top: 1rem;
    font-size: small;
    
}
section{
    margin-bottom: 2rem;
}

