<app-header>
    
</app-header>

<ion-content>
    <app-total></app-total>

    <div class="body">
        <section>
            <h5>Codigo promocional</h5>
            <div class="codigo">
                <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                    <ion-input type="text" placeholder="Introduce codigo"></ion-input>
                    <ion-button  (click)="onClick()" color="medium" >
                        Aplicar
                    </ion-button>
                </ion-item>
            </div>
        </section>

        <section>
            <h5>Información del cliente</h5>

            <div class="mail">
                <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                    <ion-input type="email" required placeholder="Email" [(ngModel)]='email'></ion-input>
                </ion-item>
                <ion-text class="error" *ngIf='emailError' color="danger">
                    Email invalido
                </ion-text>
            </div>

            <div class="checkbox">
                <ion-checkbox></ion-checkbox>
                <p>Estoy de acuerdo con dar mis datos a ledger</p>
            </div>

        </section>

        <section>
            <h5>Estoy comprando como</h5>
            <div>
                <ion-grid fixed>
                    <ion-row>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text"  placeholder="Name" [(ngModel)]='nombre'></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text"  placeholder="Surname" [(ngModel)]='apellido'></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="12">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text" placeholder="Empresa &#40;opcional&#41;" [(ngModel)]='empresa'>
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text"  placeholder="Direccion Linea 1" [(ngModel)]='direccion'>
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text" placeholder="Direccion Linea 2 &#40;opcional&#41;"
                                    [(ngModel)]='direccion2'></ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="12">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-label>{{pais}}</ion-label>
                                <ion-select [(ngModel)]='pais' interface='popover' selectedText=" ">
                                    <ion-select-option>España</ion-select-option>
                                    <ion-select-option>Francia</ion-select-option>
                                    <ion-select-option>Inglaterra</ion-select-option>
                                    <ion-select-option>USA</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text" required placeholder="Ciudad" [(ngModel)]='city'></ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-label>{{provincia}}</ion-label>
                                <ion-select [(ngModel)]='provincia' interface='popover' selectedText=" ">
                                    <ion-select-option>Barcelona</ion-select-option>
                                    <ion-select-option>Badajoz</ion-select-option>
                                    <ion-select-option>Alicante</ion-select-option>
                                </ion-select>

                            </ion-item>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="text" required placeholder="Codigo Postal" [(ngModel)]='cp'>
                                </ion-input>
                            </ion-item>
                        </ion-col>
                        <ion-col size="6">
                            <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
                                <ion-input type="number" required placeholder="Telefono" [(ngModel)]='telefono'>
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                    
                </ion-grid>
            </div>
        </section>

        <ion-button (click)="next()" color="success" expand='full'>
            Continuar
        </ion-button>

    </div>
</ion-content>