<ion-header>
</ion-header>


<ion-content>

  <ion-grid class="grid" fixed>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Nombre: {{nombre}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Apellido: {{apellido}}       
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Direccion: {{direccion}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Email: {{email}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Pais: {{pais}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Provincia: {{provincia}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Telefono: {{telefono}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Metodo de pago: {{pago}}
          </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
          <ion-item lines="none" style="border: 1px solid grey; border-radius: 3px;">
            Metodo de envio: {{gratis}}
          </ion-item>
      </ion-col>
    </ion-row>

  </ion-grid>
  
    
</ion-content>